body{
    text-align: center;
    background-color: antiquewhite;
}
.container-header{
    background-color: lightblue;
    box-sizing: border-box;
    margin: -20px;
}
.container-content{
    background: darkseagreen;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: -20px;
}
h1{
    text-align: center;
    text-shadow: steelblue 2px 2px;
}
img{
    width:120px;
    border-color: black;
    border-style: double;
    border-radius: 40%;
    }
#photo{
    text-align: center;
}
table, th, td {
    border-collapse: separate;
    border-style: solid;
    text-align: center;
    background-color: bisque;
    margin-right: auto;
    margin-left: auto;
    }
.blue{
    color: blue;
}
th, td{
    width:150px;
    height: 30px;
    align-content: center;
    border-style: double;
    text-align: center;
    }
h3,h4 {
    color: blue;
    font-family: Cursive, "Brush Script MT", cursive;
}
h1{
    font-style: italic;
}
ul{
    display:inline-block;
}
.Fishing{
    color: darkgreen;
}
.Music{
    color: brown;
}
.Traveling{
    color: lemonchiffon;
}
footer{
    background-color: orange;
    margin: -20px;
    height: 55px;
}
.Klarida{
    color: darkgreen;
    background-color: bisque;
    width: 110px;
}
.Laurentiu{
    color: dodgerblue;
}
.Lucas{
    color: darkgreen;
    background-color: bisque;
    width: 110px;
}
.story{
    font-size: small;
    padding-left: 100px;
    padding-right: 100px;
}
.tldr{
    font-size: large;
}
.student{
    text-decoration-line: underline;
}
#reason{
    font-size: 1.5em;
    text-shadow: dimgray 3px 3px 5px;
}


