body{
    background-color: darkseagreen;
    text-align: center;
}
h1{
    text-align: center;
}
img{
    width:120px;
    border-style: solid;
    border-color: aqua;
    }
#photo{
    text-align: center;
}
table, th, td {
    border-collapse: collapse;
    border-style: solid;
    text-align: center;
    background-color: goldenrod;
    margin-right: auto;
    margin-left: auto;
    }
.tabel{
}
th, td{
    width:200px;
    align-content: center;
    border-style: double;
    text-align: center;
    }
h3,h4, h5, h6 {
    color: blue;
}
h1{
    font-style: italic;
}
ul{
    display:inline-block;
}